# Env
NODE_ENV="development"
LOG_LEVEL="error"

# APIs
PARTNER_API_URL="https://api.swan.io/sandbox-partner/graphql"
UNAUTHENTICATED_API_URL="https://api.swan.io/sandbox-unauthenticated/graphql"
OAUTH_SERVER_URL="https://oauth.swan.io"
OAUTH_CLIENT_ID="YOUR_CLIENT_ID"
OAUTH_CLIENT_SECRET="YOUR_CLIENT_SECRET"

# Key to encrypt cookies
COOKIE_KEY="YOUR_COOKIE_KEY"

# URLs to expose your interfaces on
BANKING_URL="https://banking.swan.local:8080"
ONBOARDING_URL="https://onboarding.swan.local:8080"

# Extra keys for the client
CLIENT_GOOGLE_MAPS_API_KEY="YOUR_GOOGLE_MAPS_API_KEY"
