.DS_Store
.DS_Store?
.pnpm-store/*
node_modules/

clients/*/src/graphql/*.ts

server/dist/
server/keys/_wildcard.swan.local-key.pem
server/keys/_wildcard.swan.local.pem
server/src/graphql/*.ts

!scripts/graphql/dist/
scripts/graphql/codegen-verify.yml
scripts/graphql/tmp

tests/results
tests/graphql/*.ts

.env
.env.e2e
.env.swan
.env.development.local

localazy.keys.*.json

.linked
