.DS_Store
.DS_Store?

node_modules/
npm-debug.log*

clients/*/src/graphql/*.json
clients/*/src/graphql/*.ts

server/dist/
server/keys/_wildcard.swan.local-key.pem
server/keys/_wildcard.swan.local.pem
server/src/graphql/*.ts

tests/graphql/*.json
tests/graphql/*.ts
tests/results

!scripts/graphql/dist/
scripts/graphql/codegen-verify.yml
scripts/graphql/tmp

.env
.env.e2e
.env.swan

localazy.keys.*.json
