.DS_Store
.DS_Store?
node_modules/

clients/*/src/graphql/*.ts
clients/*/src/graphql/*.tsx
server/src/graphql/*.ts
server/src/**/*.js
server/src/graphql/*.tsx
clients/*/src/graphql/introspection.json
!scripts/graphql/dist/
scripts/graphql/tmp

scripts/graphql/codegen-verify.yml

server/keys/_wildcard.swan.local-key.pem
server/keys/_wildcard.swan.local.pem
server/dist/

.env

locale.config.js
