html {
  display: block;
  height: auto;
}

html {
  height: -webkit-fill-available;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: 100vh;
  background-color: var(--color-background-default);
  scroll-behavior: smooth;
}

/* Only on Safari */
@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}

#app-root,
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
}
