<!DOCTYPE html>
<meta charset="utf-8" />
<title>Error: {{description}}</title>
<style>
  html {
    background-color: #fff;
    display: flex;
    padding: 10px;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    color: #c12236;
  }
  body {
    margin: auto;
  }
  .indication {
    color: #16141a;
  }
  h1 {
    font-weight: 300;
    margin-top: 0;
  }
  p {
    line-height: 1;
  }
  code {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 0.85em;
  }
</style>
<p style="font-size: 1.2em">{{description}}</p>
<p class="indication">You can close this page</p>
