<!DOCTYPE html>
<meta charset="utf-8" />
<title>An error occured</title>
<style>
  html {
    background-color: #fef4f6;
    display: flex;
    padding: 10px;
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    color: #c12236;
  }
  body {
    margin: auto;
  }
  h1 {
    font-weight: 300;
    margin-top: 0;
  }
  p {
    line-height: 1;
  }
  code {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 0.85em;
  }
</style>
<h1>An error occured</h1>
<p>
  <span>Debug ID:</span>
  <code>{{REQUEST_ID}}</code>
</p>
