name: Download translations

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # every day at midnight

permissions:
  contents: write
  pull-requests: write

jobs:
  download-translations:
    name: Download translations
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Download onboarding translation keys
        uses: localazy/download@v1
        with:
          read_key: ${{ secrets.LOCALAZY_ONBOARDING_READ_KEY }}
          write_key: ${{ secrets.LOCALAZY_ONBOARDING_WRITE_KEY }}
          groups: onboarding

      - name: Download banking translation keys
        uses: localazy/download@v1
        with:
          read_key: ${{ secrets.LOCALAZY_BANKING_READ_KEY }}
          write_key: ${{ secrets.LOCALAZY_BANKING_WRITE_KEY }}
          groups: banking

      - name: Download payment translation keys
        uses: localazy/download@v1
        with:
          read_key: ${{ secrets.LOCALAZY_PAYMENT_READ_KEY }}
          write_key: ${{ secrets.LOCALAZY_PAYMENT_WRITE_KEY }}
          groups: payment

      - name: Sort locales
        run: pnpm format-locales

      - uses: peter-evans/create-pull-request@v7
        with:
          title: Update translations
          branch: update-translations
          commit-message: update translations from localazy
          body: Update translations
          sign-commits: true
